evaluate:
  type: "shell"
  timeout: 2500
  shell:
    entrypoint: "/bin/sh"
    logStderr: true
    command:
      - "-c"
      - "/simple-pod-metrics-golang -mode=evaluate"
metric:
  type: "shell"
  timeout: 2500
  shell:
    entrypoint: "/bin/sh"
    logStderr: true
    command:
      - "-c"
      - "/simple-pod-metrics-golang -mode=metric"
runMode: "per-pod"
